* {
  boxox-sizing: border-box;
}

header {
  height: 120px;
  width: 100%;
}

.hd-left-logo_circle {
}

.hd-left-name {
  color: #258cc3;
}

.hd-right {
  float: right;
}

.hd-right a {
  color: black;
  text-decoration: none;
  float: left;
}

.hd-right a:hover {
  border-bottom: solid;
  border-color: #258cc3;
  border-width: 4px;
}
